<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ticketnow</title>
</head>

<body>
    <h1>booking</h1>
    {{msg}}
    <form method="POST">
        {% csrf_token %}
        <table> {{form.as_table}}
        </table>
        <input type="submit" value="submit">

    </form>
    {% for movie in form %}
    <td>{{movie.movie}}</td>
    {% endfor %}
    <br><br>

</body>

</html>



<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ticketnow</title>
</head>

<body>
    <h1>Book ticket</h1>
    <table>
        <form action="" method="POST">
            {% csrf_token %} Date: <input type="date" name="date" /><br/> Movie: <input type="option" name="movie" /> <br/> Showtime: <input type="option" name="showtime" /> <br/> Ticketprice: <input type="option" name="ticketprice" /> <br/> Select_seat:
            <input type="option" name="select_seat" /> <br/> Name: <input type="text" name="name" /> <br/> Mobile: <input type="text" name="mobile" /> <br/>

            <input type="submit" value="Book" />
        </form>
    </table>
</body>

</html> -->